<head>
  <title>merda</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <script>
    const WordLength = 5
    const InitialWord = "merda"
    const Alphabet = "abcdefghijklmnopqrstuvwxyz".split('')
    const Language = "portugues"

    let targetWord = ""
    let dictionary = {}

    function letterId(letter) {
      return `letter-${letter}`
    }

    async function main() {
      const response = await fetch(`./words/${Language}.txt`)
      const raw = await response.text()
      dictionary = raw.replaceAll('\r', '').split('\n').reduce((dict, word) => {
        const c = word.length
        if (dict[c] == null) {
          dict[c] = []
        }
        dict[c].push(word.toLowerCase())
        return dict
      }, {})

      const numPalavras = dictionary[WordLength].length
      targetWord = dictionary[WordLength][Math.floor(Math.random() * numPalavras)]
      const $alphabet = document.getElementById("alphabet")
      for (let letter of Alphabet) {
        const $letter = document.createElement("div")
        $letter.classList.toggle("letter")
        $letter.id = letterId(letter)
        $letter.innerHTML = letter
        $alphabet.appendChild($letter)
      }

      submitWord(InitialWord)
      const $newWord = document.getElementById("new-word")
      $newWord.addEventListener("keypress", (e) => {
        if (event.keyCode == 13) {
          const newWord = $newWord.value
          $newWord.value = ""
          submitWord(newWord)
        }
      })

      document.getElementById("loading").style.display = "none"
    }

    function submitWord(word) {
      word = word.toLowerCase()
      if (!dictionary[WordLength].includes(word)) {
        return false
      }
      const $word = document.createElement("DIV")
      for (let i = 0; i < WordLength; i++) {
        const letter = word[i]
        const $letter = document.createElement("SPAN")
        $letter.innerHTML = letter

        const $alphabetLetter = document.getElementById(letterId(letter))
        if (targetWord[i] === letter) {
          $letter.classList.toggle("correct")
          $alphabetLetter.classList.toggle('correct', true)
        }
        else if (targetWord.includes(letter)) {
          $letter.classList.toggle("existing")
          $alphabetLetter.classList.toggle('existing', true)
        }
        else {
          $alphabetLetter.classList.toggle('missing', true)
        }

        $word.appendChild($letter)
      }

      document.getElementById("tested").appendChild($word)
    }

    main()
  </script>
  <style>
    html {
      margin: 0;
      padding: 0.9em;
      font-family: 'Courier New', Courier, monospace;
      max-width: 100%;
      overflow-x: hidden;
    }

    body {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 3em;
      /* padding: 0.2em; */
    }

    .existing {
      background-color: #ffff008a;
    }

    .correct {
      background-color: #00ff008a;
    }

    .missing {
      text-decoration: line-through;
      color: #acacac;
    }

    .alphabet {
      margin-top: 0.2em;
      border-bottom: solid black;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* align-items: center; */
    }

    .letter {
      margin-right: 0.1em;
      display: inline;
    }

    .tested {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .new-word {
      margin-top: 0.5em;
      width: 3.1em;
      font-size: 1em;
      font-family: 'Courier New', Courier, monospace;
    }
  </style>
</head>

<body>
  <div id="loading">...</div>
  <div class="alphabet" id="alphabet"></div>
  <div class="tested" id="tested"></div>
  <input type="text" id="new-word" class="new-word">
</body>